a {
  text-decoration: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.25em 0 0.25em;
  vertical-align: -0.2em;
  display: inline;
}

@font-face {
  font-family: Exo;
  src: url('/Exo-Light.woff2');
  font-weight: normal bold;
  font-display: swap;
}
