@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--ui-border, currentColor);
  }
}

:root {
  --font-family: 'Exo 2', '-apple-system', BlinkMacSystemFont, Helvetica, Arial, Meiryo, sans-serif;
}

body {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  word-break: normal;
  overflow-wrap: anywhere;
  line-break: strict;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
